<div class="form-check">
  <input class="form-check-input" type="checkbox" [(ngModel)]="checked">
  <label class="form-check-label">
    {{generateCharIndex()}}. {{mcTestChoiceExternalIn.description}}
  </label>
</div>
