<div class="card" *ngIf="mcTestExternalIn">
  <div class="card-header">
    {{mcTestExternalIn.name}}
  </div>
  <div class="card-body">
    <p class="card-text" *ngFor="let question of mcTestExternalIn.questions; index as index">
      <app-mctestquestion [index]="index"
                          [mcTestQuestionExternalIn]="question">
      </app-mctestquestion>
    </p>
  </div>
  <button type="button" class="btn btn-primary" (click)="submitTest()">Submit test</button>
</div>
