<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="imageUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <a class="btn btn-primary" (click)="takeTest()">Take test</a>
    <!--<a [routerLink]="['/mctest', id]" skipLocationChange class="btn btn-primary">Take test</a>-->
    <!--https://stackoverflow.com/questions/37054731/angular-2-routing-without-changing-url-->
  </div>
</div>
