<div class="card" *ngFor="let question of questions">
  <div class="card-header">
    <div class="input-group input-group-sm mb-3">
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="question.description">
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
        <div *ngFor="let choice of question.choices">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [(ngModel)]="choice.checked">
            <div class="input-group input-group-sm mb-3">
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="choice.description">
            </div>
          </div>
        </div>
      <button type="button" class="btn btn-primary" (click)="addNewChoice(question)">Add new choice</button>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" (click)="addNewQuestion()">Add new question</button>

<button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
