<div class="card">
  <div class="card-header">
    {{index+1}}. {{mcTestQuestionExternalIn.description}}
  </div>
  <div class="card-body">
    <p class="card-text">
      <app-mctestchoice *ngFor="let choice of mcTestQuestionExternalIn.choices; index as index"
                        [index] = "index"
                        [mcTestChoiceExternalIn]="choice"
                        (click)="selectUserChoice(index)"
                        #mctestchoicecomponents>
      </app-mctestchoice>
    </p>
  </div>
</div>
