<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="#">Profile</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Test Tools</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" (click)="navigateToTopics()">Topics</a>
      <!--<a class="dropdown-item" href="#">Something else here</a>-->
      <!--<div class="dropdown-divider"></div>-->
      <!--<a class="dropdown-item" href="#">Separated link</a>-->
    </div>
  </li>
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">Link</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link disabled" href="#">Disabled</a>-->
  <!--</li>-->
</ul>
